@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><i class="fa-solid fa-cart-shopping text-white"></i></span>
        <span class="text-white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}