<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <h5><i class="fa-solid fa-envelope"></i> <email endereco="hajikazuo@outlook.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <h5><i class="fa-solid fa-mobile"></i> (11) 95874-5566</h5>
            <br />
            <h5><i class="fa-solid fa-house"></i> Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>